<html>
  <head>
    <title>Marvel Timelines Sinatra</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Timelines</h1>
    <nav>
      <a href="/songs">Songs</a>
      <a href="/artists">Artists</a>
    </nav>
    <%= yield %>
  </body>
</html>
